body{
    font-family: "Roboto" ,sans-serif  ;
    color: #434455;
    background-color: #fff;

}
 ul,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 h1, h2, h3, h4, h5, h6, p{
        margin: 0;
 }
 a{
    text-decoration: none;
 }
 button{
    cursor: pointer;
    font-family: "Roboto", sans-serif;
 }
 
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
 .container {
         max-width: 1158px;
         padding: 0 15px;
         margin: 0 auto;
 }
 /* #region header */
 .page-header {
         border-bottom: 1px solid #e7e9fc;
 }
.header-container{
 display: flex;
 align-items: center;
}
.header-nav{
        display: flex;
        align-items: center;
}
 
 .logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
 }
 .header-logo .logo-span{
    color: #2e2f42;}
 .header-logo{
        padding: 24px 0;
        margin-right: 76px;
}
 
 .nav-list{
        display:flex;
        align-items: center;
        gap:40px;
 }
 .footer-logo .logo-span{
    color: #f4f4fd;
 }
 .nav-link{
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
 }
 
 .contacts{
    font-style:normal;
    margin-left: auto;
 }
 .contacts-list{
        display: flex;
        align-items: center;
        gap: 40px;
 }
 .contacts-link{
        display: block;
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
 }

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
color: #404bbf;
}

 /* #endregion header */

/* #region hero */
.hero{
background-color: #2e2f42;

}
.hero-title{
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        padding-top:188px ;
        padding-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
}
 .hero-button{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
    
}
.hero-button:hover,
.hero-button:focus{
    color: #fff;
    background-color: #404bbf;
}
/* #endregion hero */

.services{
        padding-top: 120px;
        padding-bottom: 120px;
}
.services-title{
    
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.services-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;

}

.team-list-section{
    background-color: #f4f4fd;
}
.team-main-title{     
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;

}
.team-item{
    background-color: #FFFFFF;
}
.team-name-title{
    
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.team-text{
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}



.main-title-portfolio{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize
}
 
.titles-portfolio{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-text{
    
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}



.page-footer{
    
     background-color: #2e2f42;
    
}
.footer-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}